#cookie-bar {
    font-size: 13px;
}
#cookie-bar-prompt-content {
    font-size: 13px;
    max-height: 85vh;
}
#cookie-bar-browsers a {
    width: 60px;
}
@media only screen and (max-device-width: 800px) {
    #cookie-bar {
        font-size: 12px;
    }
    #cookie-bar-prompt-content {
        font-size: 11px;
        max-height: 80vh;
    }
    #cookie-bar-browsers a {
        width: 50px;
    }
}



#cookie-bar {
    background: #45484D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    left: 0;
    line-height: 1.5;
    margin: 0;
    padding: 3px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

#cookie-bar-prompt {
    background: #000;
    background: rgba(0,0,0,0.4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    height: 100%;
    left: 0;
    line-height: 1.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

#cookie-bar *,
#cookie-bar-prompt * {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

#cookie-bar p {
    float: left;
    margin: 4px 0 0 20px;
    padding: 0;
    color: #FFF;
    font-family: sans-serif;
}
#cookie-bar p a {
    padding: 0 8px;
}

#cookie-bar-prompt p {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}

#cookie-bar-button {
    background-color: #1FAE16;
    color: #FFF !important;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: bold;
    line-height: 1;
    margin-right: 20px;
    margin-top: 2px;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
}

#cookie-bar-button-no {
    background-color: #D02828;
    color: #FFF!important;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: bold;
    line-height: 1;
    margin-right: 20px;
    margin-top: 2px;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
}


#cookie-bar-prompt a {
    cursor: pointer;
}
#cookie-bar-prompt hr {
    background: #FFF;
    border: none;
    height: 1px;
    margin: 0.7em 0 1em;
    opacity: 0.2;
}
#cookie-bar-prompt-content, #cookie-bar {
    color: #FFF;
    font-weight: 300;
}

#cookie-bar-prompt-content::-webkit-scrollbar-track {
    background-color: #45484D;
}

#cookie-bar-prompt-content::-webkit-scrollbar {
    width: 15px;
}

#cookie-bar-prompt-content::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #EEE;
    background-color: rgba(255,255,255,0.3);
}

#cookie-bar-prompt-content a, #cookie-bar a, #cookie-bar-prompt-content span {
    color: #31A8F0;
    text-decoration: none;
}

#cookie-bar-prompt-content a:hover, #cookie-bar a:hover {
    color: #31A8F0;
    text-decoration: underline;
}

#cookie-bar-prompt-close span, #cookie-bar-prompt-logo span {
    display: none;
}

#cookie-bar-prompt-button {
    cursor: pointer;
}

#cookie-bar-prompt-content {
    background: #45484D;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    color: #FFF;
    margin: 0 auto;
    max-width: 98%;
    overflow: auto;
    padding: 25px;
    position: relative;
    top: 5%;
    width: 600px;
    z-index: 9998;
}
#cookie-bar-thirdparty {
    display: none;
}
#cookie-bar-tracking {
    display: none;
}
#cookie-bar-scrolling {
    display: none;
}
#cookie-bar-privacy-page,
#cookie-bar-main-privacy-link {
    display: none;
}
#cookie-bar-prompt-close {
    background: url('images.png') no-repeat;
    background-position: -102px -94px; width: 14px; height: 14px;
    display: block;
    float: right;
}

#cookie-bar-prompt-logo {
    background: url('images.png') no-repeat;
    background-position: -2px -0px; width: 163px; height: 42px;
    display: block;
    float: left;
}
#cookie-bar-browsers a {
    display: inline-block;
    background: url('images.png') no-repeat;
    text-align: left;
    height: 53px;
    margin: 0;
    padding: 0;
    position: relative;
}
#cookie-bar-browsers a span {
    background: #FFF;
    border-radius: 2px;
    color: #000 !important;
    display: none;
    left: -10px;
    opacity: 0.8;
    padding: 3px 10px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 150px;
}
#cookie-bar-browsers a:hover span {
    display: block;
}
#cookie-bar-browsers .chrome {
    background-position: -2px -44px; width: 48px; height: 48px;
}
#cookie-bar-browsers .firefox {
    background-position: -52px -44px; width: 48px; height: 48px;
}
#cookie-bar-browsers .ie {
    background-position: -102px -44px; width: 48px; height: 48px;
}
#cookie-bar-browsers .opera {
    background-position: -2px -94px; width: 48px; height: 48px;
}
#cookie-bar-browsers .safari {
    background-position: -52px -94px; width: 48px; height: 48px;
}
.clear {
    clear: both;
}

#cookie-bar-prompt input,
#cookie-bar-prompt label {
    cursor: pointer;
    position: inherit;
    color: #BBB;
    pointer-events: all;
    padding: auto;
    opacity: 1;
}

#cookie-bar-prompt #cookie-bar-customize {
    display: none;
}
#cookie-bar-prompt #cookiebar-save-customized,
#cookie-bar-prompt #cookiebar-save-customized:active {
    border: none;
    background-color: #31A8F0;
    color: #FFF;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}
#cookie-bar-prompt #cookiebar-save-customized:hover {
    text-decoration: underline;
}
#cookie-bar-button-customize {
    color: #31A8F0 !important;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: bold;
    line-height: 1;
    margin-right: 20px;
    margin-top: 2px;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px #222;
}
#cookie-bar-prompt i {
    font-style: normal;
}